extends layout

block content
  h1= title

  form(id='ElectronicsForm', action="/resource/electronics", method="POST")
    div.form-group
      label.electronicAttr(for='electronicsName') electronics  Name
      input#car_name(type='text', name='electronicsName')
    div.form-group
      label.electronicAttr(for='electronicsType') electronics Type
      input#electronicsType(type='text', name='electronicsType')
    div.form-group
      label.electronicAttr(for='electronicCost') electronics Cost
      input#electronicCost(type='number', name='electronicCost')
    input(type="submit")

  script.
    document.forms['ElectronicsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });